// app global css in SCSS format
@import 'quasar/src/css/index.sass';

:root {
  --q-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--q-font-family);
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
